{% extends 'base.html.twig' %}

{% block title %}Hello RadioController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { width: 100%; text-align: center; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .form {width: 70%; text-align: center;  border: #565656 solid 1px}
</style>


<div class="example-wrapper">
    <div class="form">
        {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>

        <div class="row">
            <div class="col">
                {{ form_row(form.name) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
